/**
 * Custom LED states for custom enum
 */

.led.customvalues .value-low:before {
    color: LightCyan;
    content: "\f175";
}

.led.customvalues .value-middle:before {
    color: Cyan;
    content: "\f07e";
}

.led.customvalues .value-high:before {
    color: DarkTurquoise;
    content: "\f176";
}
