

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

h1 {
    margin-top: 0;
}

.open{
  color: green;
}

.unsubscribed {
  text-decoration: line-through;
}

.closed {
  color: red;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
}

ul li {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #EEE;
}

ul li:first-child {
  border-top: 1px solid #EEE;
}

ul li span {
  display: inline-block;
  width: 90px;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#message-form {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

select {
    margin-right: 5px;
}

textarea {
  width: 15%;
  // padding: 0.1rem;
  font-size: 1rem;
  min-height: 15px;
}

button {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 4px;
  color: white;
  text-align: center;
  background: #BABABA;
}

select, option {
    width: 400px;
    font-size: 1em;
    float: left;
}

#details {
    padding-left: 50px;
   
}

#subscriptions {
    width: 20%;
    padding-right: 20px;
}

