.led {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.led .value-0 {
    fill: lightGray;
}

.led .value-1 {
    fill: lime;
}

.led .value-error {
    fill: magenta;
}

