/**
 * LED widget
 *
 * By default, the LED is desined to be mixed with the text. It is a square
 * inline-block, the size of a text line, vertically aligned in the middle.
 */
.led {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

/**
 * LED states
 *
 * off: no connection, no value or a value of 0
 * on: connection, and a non-zero value
 * error: an error
 * value-n: if the channel is an enum, the 
 */
.led .off {
    color: lightGray;
}

.led .on {
    color: lime;
}

.led.alarm .value-none {
    color: lime;
}

.led.alarm .value-minor {
    color: yellow;
}

.led.alarm .value-major {
    color: red;
}

.led.alarm .value-invalid {
    color: magenta;
}

.led.alarm .value-undefined {
    color: magenta;
}

.led .error {
    color: magenta;
}

